.form {
    display: flex;
    margin-bottom: 20px;
  }
  .input::placeholder {
    color: #e4dede;
  }
  .input {
    flex-grow: 1;
    padding: 10px;
    font-size: 1rem;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .button {
    padding: 10px 15px;
    background-color: #9ec3ea;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #539dec;
  }