.item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .item:last-child {
    border-bottom: none;
  }
  
  .text {
    color: #333;
    flex-grow: 1;
    margin-left: 10px;
  }
  
  .completed { /* ★ 追加 */
  text-decoration: line-through;
  color: #888;
}
  .deleteButton {
    background-color: #ea8c95;
    color: rgba(255, 255, 255, 0.885);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .deleteButton:hover {
    background-color: #d05662;
  }